<subject>
Invitation to the {{ study_name }} study
</subject>

<text>
Hello {{ fname }}

You are receiving this email as a result of your participation in Kellogg Study {{ study_name }}. You are invited to complete a follow-up survey which will pay $7 and take approximately 5 minutes.

Here is the link: https://kellogg.qualtrics.com/jfe/form/SV_bvznwWBZtpzjZ0a?id={{ sona_id }}

Please complete the survey by tomorrow, {{ study_date }} at 9am CT.

Sincerely,

Kellogg Behavioral Lab Registry
</text>

<html>
<head>
    <title></title>
</head>
<body>
Hello {{ fname }} <br><br>
You are receiving this email as a result of your participation in Kellogg Study {{ study_name }}. You are invited to complete a follow-up survey which will pay $7 and take approximately 5 minutes.<br><br>

Here is the <a href="https://kellogg.qualtrics.com/jfe/form/SV_bvznwWBZtpzjZ0a?id={{ sona_id }}">SURVEY LINK</a>.<br><br>

Please complete the survey by tomorrow, {{ study_date }} at 9am CT.<br><br>

Sincerely,

<br>Kellogg Behavioral Lab Registry<br>
</body>
</html>
